Youtube-automation-workflow.json
{
  "name": "Youtube automation",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json['Your video idea...'] }}",
        "options": {
          "systemMessage": "You are a professional AI Video Prompt Engineer.\n\nYour task is to convert short, simple user input into a highly detailed, clear, and visually rich video generation prompt suitable for AI video generation models such as Sora, Runway, Pika, or similar tools.\n\nYou must strictly follow these rules:\n\n1. Always expand the user's idea into a complete video scene.\n2. Never ask follow-up questions.\n3. Never include explanations, commentary, or formatting outside the final prompt.\n4. Output ONLY the final video prompt text.\n5. Assume the user input may be vague or short and intelligently fill in missing visual details.\n6. Stay fully aligned with the user’s original intent — do not change the theme.\n\nWhen generating the prompt, always include:\n- Scene setting (location, environment, time of day)\n- Main subject(s) (appearance, clothing, age, mood, posture)\n- Actions and movement\n- Camera behavior (angle, motion, focus, lens style)\n- Lighting (natural, cinematic, soft, dramatic, etc.)\n- Visual style (realistic, cinematic, animated, stylized, hyper-realistic, etc.)\n- Atmosphere and mood\n- Level of detail appropriate for high-quality video generation\n\nIf the user provides:\n- A genre → match visuals and tone to that genre\n- A mood → reflect it through lighting, motion, and color\n- A style → follow it strictly (cinematic, anime, documentary, etc.)\n\nDefault assumptions if not provided:\n- Resolution: cinematic, high-quality\n- Motion: smooth and realistic\n- Camera: professional cinematic camera\n- Style: realistic unless stated otherwise\n\nThe final output must be a single, well-written paragraph that reads like a professional video prompt.\n\nDo not use bullet points.\nDo not mention the user, yourself, or the process.\nDo not include titles or headings.\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        192,
        0
      ],
      "id": "5ceffae7-abba-4a1d-a82b-83341a6348a6",
      "name": "Prompt generator for youtube"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        192,
        208
      ],
      "id": "f860b7a3-ded3-4793-a2fc-be9e8b603406",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "zMEN1FE4K3oL6Rlm",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "formTitle": "Youtube Automation",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Your video idea...",
              "placeholder": "Describe your idea here...",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "318decf0-e39e-4c03-8cd1-d1f16fae3e57",
      "name": "On form submission",
      "webhookId": "26a29319-f894-4361-ab1a-31135851aae8"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.output }}",
        "options": {
          "systemMessage": "You are a professional video marketing and thumbnail optimization AI.\n\nYour task is to generate:\n1) A very short, high-impact thumbnail text\n2) A set of relevant hashtags\n\nYou will receive a detailed video description or video prompt as input.\nYou must understand the core idea, mood, and theme of the video and generate marketing-friendly outputs.\n\nStrict rules:\n- Do NOT ask any questions.\n- Do NOT explain your reasoning.\n- Do NOT repeat the full video description.\n- Do NOT include emojis.\n- Do NOT include extra text outside the required output.\n- Keep everything concise and attention-grabbing.\n\nThumbnail text rules:\n- Maximum 3 to 5 words only\n- Must be bold, emotional, or curiosity-driven\n- Must clearly relate to the video’s main idea\n- Avoid punctuation unless necessary\n- No hashtags in thumbnail text\n\nHashtag rules:\n- Generate 8 to 12 hashtags\n- All hashtags must be lowercase\n- No spaces in hashtags\n- Mix broad + niche + mood-based hashtags\n- Must be directly relevant to the video content and style\n\nOutput format (strictly follow):\n\nThumbnail:\n<short thumbnail text>\n\nHashtags:\n#hashtag1 #hashtag2 #hashtag3 #hashtag4 #hashtag5 #hashtag6 #hashtag7 #hashtag8\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        544,
        0
      ],
      "id": "5d98d811-216b-4c38-8370-8b62821f9c84",
      "name": "Thumbnail and hashtags"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        544,
        208
      ],
      "id": "4e58c931-c75f-4f1d-a4f7-c039d3ea76cd",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "fuEmev96Y3HYH1GW",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer 9aa27af9dba0e3174652c4091def60f1"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"sora-2-text-to-video\",\n  \"callBackUrl\": \"https://your-domain.com/api/callback\",\n  \"input\":\n  {\n    \"prompt\": \"{{ $('Prompt generator for youtube').item.json.output }}\",\n    \"aspect_ratio\": \"landscape\",\n    \"n_frames\": \"10\",\n    \"remove_watermark\": true\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        896,
        0
      ],
      "id": "123520d1-caff-4beb-a17e-cd862896670f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "minutes"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1104,
        0
      ],
      "id": "b3de0956-7f59-4706-bbd3-b86e82a4ba3e",
      "name": "Wait",
      "webhookId": "a20279c5-47ab-40c8-8dc9-9f2a44b58adc"
    },
    {
      "parameters": {
        "resource": "video",
        "operation": "upload",
        "options": {}
      },
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1312,
        0
      ],
      "id": "729abac2-dfbd-4f8a-8b54-c480a4186416",
      "name": "Upload a video"
    }
  ],
  "pinData": {
    "On form submission": [
      {
        "json": {
          "Your video idea...": "A man walking alone in rain at night",
          "submittedAt": "2025-12-28T18:57:14.192+01:00",
          "formMode": "test"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Prompt generator for youtube": [
      {
        "json": {
          "output": "A cinematic, high-quality nighttime urban street scene drenched in rain, featuring a solitary man in his early 30s walking slowly down a wet, reflective sidewalk illuminated by scattered neon signs and dim streetlights. The man wears a dark trench coat with the collar slightly raised against the rain, his hair damp and slicked back, casting a contemplative and somber mood. Raindrops cascade realistically around him, with occasional splashes as his footsteps meet puddles. The camera follows him from a smooth tracking side angle, shifting seamlessly between close-up shots capturing his introspective expression and wider shots showing the glistening cityscape stretching into the misty darkness. The lighting is soft but contrasted, highlighting rain streaks and wet surfaces while lending a dramatic chiaroscuro effect. The visual style is hyper-realistic with meticulous detail on rain effects, reflections, and textures, evoking a melancholic, introspective atmosphere as the man moves steadily forward through the quiet, rain-soaked night."
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "Thumbnail and hashtags": [
      {
        "json": {
          "output": "Thumbnail:\nRainy Night Reflection\n\nHashtags:\n#cinematicvideo #nightstreet #rainynight #urbanmood #neonlights #cityscape #melancholicvibes #filmmaking #visualstorytelling #slowmotion #dramaticlighting #introspective"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ],
    "HTTP Request": [
      {
        "json": {
          "code": 200,
          "msg": "success",
          "data": {
            "taskId": "b0f86360078cb50d7e2e1e681433b6c6",
            "recordId": "b0f86360078cb50d7e2e1e681433b6c6"
          }
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Prompt generator for youtube",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prompt generator for youtube": {
      "main": [
        [
          {
            "node": "Thumbnail and hashtags",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Prompt generator for youtube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Thumbnail and hashtags",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Thumbnail and hashtags": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Upload a video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "67f438b7-8598-4e85-974e-bba78acd4dd9",
  "meta": {
    "instanceId": "eb40d8166d433007c6de20f53720bc08de84d6571d5a117f86bc1571acb83931"
  },
  "id": "YYyw9p9NbmT5rZFS",
  "tags": []
}